.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-grow: 1;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

.header {
  padding: 20px;
  background-color: #e5f0ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.add-button {
  background-color: #7cb342;
  color: white;
  border: none;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.search-bar {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  flex-grow: 1;
  margin-left: 20px;
}

.sort-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.sort-container select {
  padding: 8px;
  border-radius: 4px;
}

